@page "/exist"
@using BlazorApp1.Shared;
@inject HttpClient Http
@inject NavigationManager Navigation

<h3>¿Existe este Contacto?</h3>

<EditForm Model="@_contact">
    <div class="form-group">
        <label>Nombre de Contacto: </label>
        <InputText @bind-Value="name" />
        <button type="submit" class="btn btn-success" @onclick="(() => isExist(name))">¿Existe el Contacto?</button>
    </div>
</EditForm>
 
<div class="alert alert-secondary mt-4">
    <span class="oi oi-person me-2" aria-hidden="true"></span>
    <strong>Información del Mensaje</strong><br><br>
    <span class="text-nowrap">
    <p>Mensaje: @message</p>
    </span>
</div>

@code {

    private Contact _contact = new();
    private string name;
    private string message;

    private async Task isExist(string name){
        if(validateInfo(name)){
            bool contactRes = await Http.GetFromJsonAsync<bool>($"/api/Contact/isExist/{name}");
            if(contactRes == true){
                message = "Contacto Encontrado";
            }else{
                message = "Contacto No Encontrado";
            }
        }else{
            message = "No ha completado la información correctamente";
        }
    }

    private bool validateInfo(string name){
        if(name == null || name == ""){
            return false;
        }
        return true;
    }
}