@page "/search"
@using BlazorApp1.Shared;
@inject HttpClient Http
@inject NavigationManager Navigation
<h3>Buscar Contacto</h3>
<EditForm Model="@_contact">
        <div class="form-group">
            <label>Nombre: </label>
            <InputText @bind-Value="name" />
            <button type="submit" class="btn btn-success" @onclick="(() => searchByName(name))">Buscar Contacto</button>
        </div>
</EditForm>
 
        <div class="alert alert-secondary mt-4">
            <span class="oi oi-person me-2" aria-hidden="true"></span>
            <strong>Información del contacto</strong><br><br>
            @if(@contactRes == null){
                <span class="text-nowrap">
                    <p>No Encontrado</p>
                </span>
            }else{
                <span class="text-nowrap">
                    <p>Nombre: @nameSearch</p>
                    <p>Teléfono: @landline</p>
                    <p>Celular: @cellphone</p>
                </span>
            }
            

        </div>
@code {
    private Contact _contact = new();
    private string name;
    private string nameSearch;
    private string landline;
    private string cellphone;
    private Contact contactRes;

private async Task searchByName(string name)
    {
        Contact contactRes = await Http.GetFromJsonAsync<Contact>($"/api/Contact/{name}");
        nameSearch = contactRes.name;
        landline = contactRes.phone;
        cellphone = contactRes.cellphone;
        Navigation.NavigateTo($"/search");
    }
}